@charset "UTF-8";
/* CSS Document */

nav {
	font-family: 'Mrs Sheppards', cursive;
	font-size: 240%;
	width: 100%;
	height: 60px;
	text-align:center;
	margin-top:-20;
}

ul {
	list-style-type: none;
}
li {
	display: inline-block;
	margin-left: 40px;
	margin-right: 40px;
	line-height: 60px;
}

h1 {
	font-family: 'Mrs Sheppards', cursive;
	font-size: 270%;
	width: 100%;
	height: 60px;
	align:left;
	margin-left:100px;

}
	
h2 {
	font-family: 'Mrs Sheppards', cursive;
	font-size: 170%;
	width: 100%;
	height: 60px;
	align:left;
	margin-bottom:-40px;
	margin-top:200px;
	}
	
	
p { 
	font-family: 'Montserrat', sans-serif;
	width: 500px;
	line-height: 30px;
}

h3 {
	font-family: 'Mrs Sheppards', cursive;
	font-size: 200%;
	width: 100%;
	height: 60px;
	align:left;
	margin-top:50px;
	margin-bottom:-20px;
	
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:active {
	color:#185D83;
}

a:hover {
	color:#185D83;
}


